@media screen and (width <=1920px) {
    .login-success h3 {
        font-size: 30px;
        margin-top: 20px;
    }
}

@media screen and (width <=1440px) {
    .login-success h3 {
        font-size: 25px;
    }
}

@media screen and (width <=1075px) {
    .login-success h3 {
        font-size: 21px;
        margin-top: 10px;
    }
}

@media screen and (width <=768px) {
    .login-success h3 {
        font-size: 15px;
    }
}

@media screen and (width <=375px) {
    .login-success h3 {
        font-size: 12px;
    }
}