@media screen and (width <=1440px) {
    .movie-list {
        padding: 21px 30px;
    }

    .movies {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 25px;
    }

    .button-previous, .button-next {
        padding: 0px 10px;
        width: 90px;
        height: 35px;
        font-size: 18px;
        border-radius: 25px;
    }

    .number {
        width: 35px;
        height: 35px;
        font-size: 18px;
    }

}

@media screen and (width <=1075px) {
    .movie-list {
        padding: 21px 26px;
    }

    .movies {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 21px;
    }
}

@media screen and (width <=768px) {
    .movie-list {
        padding: 18px 22px;
    }

    .movies-pagination {
        gap: 16px;
    }

    .movies {
        grid-template-columns: 1fr 1fr;
        grid-gap: 17px;
    }

    .buttons-numbers {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}

@media screen and (width <=375px) {
    .movie-list {
        padding: 12px 17px;
    }

    .movies {
        grid-template-columns: 1fr;
        grid-gap: 12px;
    }
}