.footer {
    padding: 40px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #060d17;
}

.footer p {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
}

.social-media {
    display: flex;
    align-items: center;
    gap: 35px;
}

.social-media svg {
    width: 45px;
    height: 50px;
    color: rgb(119, 117, 117);
    cursor: pointer;
}