@media screen and (width <=1440px) {
    .auth-guard-title-img img {
        width: 220px;
        height: 282px;
    }

    .auth-guard-title-img p {
        font-size: 25px;
    }
}

@media screen and (width <=1075px) {
    .auth-guard-title-img img {
        width: 190px;
        height: 243px;
    }

    .auth-guard-title-img p {
        font-size: 23px;
    }
}

@media screen and (width <=768px) {
    .auth-guard-title-img img {
        width: 100px;
        height: 128px;
    }

    .auth-guard-title-img p {
        font-size: 18px;
    }

    @keyframes my-animation {
        from {
            width: 500px;
            top: 70px;
        }

        to {
            width: 200px;
            top: 100px;
        }
    }
}

@media screen and (width <=375px) {
    .auth-guard-title-img img {
        width: 40px;
        height: 51px;
    }

    .auth-guard-title-img p {
        font-size: 12px;
    }

    @keyframes my-animation {
        from {
            width: 300px;
            top: 18px;
        }

        to {
            width: 100px;
            top: 50px;
        }
    }
}