@media screen and (width <=1920px) {
    .sign-in-title {
        font-size: 30px;
        letter-spacing: 2px;
    }

    .sign-in-input-username, .sign-in-input-password {
        font-size: 30px;
    }

    .button-signin {
        font-size: 30px;
    }

    .errors-signin {
        font-size: 30px;
    }

    .button-redirect a {
        font-size: 30px;
    }
}

@media screen and (width <=1440px) {
    .sign-in-title {
        font-size: 25px;
        letter-spacing: 1px;
    }

    .sign-in-input-username, .sign-in-input-password {
        padding: 8px 12px;
        width: 350px;
        height: 60px;
        font-size: 25px;
    }

    .button-signin {
        padding: 8px 12px;
        width: 190px;
        height: 60px;
        font-size: 25px;
    }

    .errors-signin {
        font-size: 25px;
        width: 602px;
    }

    .button-redirect {
        padding: 8px 12px;
        width: 330px;
        height: 65px;
        border-radius: 39px;
    }

    .button-redirect a {
        font-size: 25px;
    }
}

@media screen and (width <=1075px) {
    .sign-in-title {
        font-size: 21px;
        margin-bottom: 30px;
    }

    .sign-in-input-username, .sign-in-input-password {
        padding: 7px 12px;
        width: 250px;
        height: 50px;
        font-size: 21px;
    }

    .button-signin {
        padding: 7px 12px;
        width: 160px;
        height: 50px;
        font-size: 21px;
        margin-top: 35px;
    }

    .errors-signin {
        width: 300px;
        text-align: center;
        font-size: 21px;
        margin-bottom: 30px;
    }

    .button-redirect {
        padding: 7px 12px;
        width: 260px;
        height: 60px;
    }

    .button-redirect a {
        font-size: 21px;
    }
}

@media screen and (width <=768px) {
    .sign-in-title {
        font-size: 18px;
    }

    .sign-in-icon-user, .sign-in-icon-password {
        width: 37px;
        height: 44px;
    }

    .sign-in-input-username, .sign-in-input-password {
        padding: 6px 10px;
        width: 190px;
        height: 40px;
        font-size: 18px;
    }

    .button-signin {
        padding: 6px 10px;
        width: 130px;
        height: 40px;
        font-size: 18px;
    }

    .errors-signin {
        width: 260px;
        font-size: 18px;
        margin-bottom: 25px;
    }

    .button-redirect {
        padding: 6px 10px;
        width: 237px;
        height: 50px;
    }

    .button-redirect a {
        font-size: 18px;
    }
}

@media screen and (width <=375px) {
    .sign-in-title {
        font-size: 12px;
    }

    .sign-in-icon-user, .sign-in-icon-password {
        width: 30px;
        height: 37px;
    }

    .sign-in-input-username, .sign-in-input-password {
        padding: 5px 8px;
        width: 150px;
        height: 35px;
        font-size: 12px;
    }

    .button-signin {
        padding: 5px 8px;
        width: 100px;
        height: 35px;
        font-size: 12px;
    }

    .errors-signin {
        font-size: 12px;
        margin-bottom: 18px;
    }

    .button-redirect {
        padding: 5px 8px;
        width: 190px;
        height: 45px;
    }

    .button-redirect a {
        font-size: 12px;
    }
}